<ion-header [translucent]="false" class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>

<div class="inner_contnet">
<div class="cat_section">
      <p class="cat_title">{{category.name}}</p>
</div>

  <div class="list-items">
    <div class="list-item" *ngFor="let data of allEvents" (click)="pridictEvent(data)">
      <img src="assets/images/business-event-banner.jpg">
      <p class="event_detail">{{data.description}}</p>
      <ion-progress-bar  value="{{data.fav_percentage/100}}"></ion-progress-bar>

      <div class="event_analy">
        <p class="event_analytics"><ion-icon name="analytics-outline"></ion-icon> Favor {{data.fav_percentage}}% Againest {{100-data.fav_percentage}}%</p>
        <ion-button type="button" size="small" expand="full" color="primary" (click)="pridictEvent(data)">Predict</ion-button>
      </div>

    </div>
		</div>

  </div>





</ion-content>

<ion-footer>
<app-footer-menu></app-footer-menu>

</ion-footer>
