.list-items{
    float: left;
    width: 100%;
    padding: 15px;
    border-color: #f4f5fd !important;
    background-color: #f8f9ff !important;
    border-width: 1px !important;
    border-style: solid;

    .list-item{
    display: block;
    font-size: 12px;
    width: 100%;
    white-space: break-spaces;
    border-bottom: 1px solid #e2e2e2;
    margin: 0px 0px 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }


  }
.list-item-heading{
font-size:18px;
margin-bottom:10px;
text-align: center;
}

.list-item-value{
font-size:18px;
font-weight:600;
text-align: center;
}


@media screen and (min-width: 600px) {

.list-items .list-item{
      width:31.33%;
      margin:1%;
      float:left;
}

}