<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-title text-center><img class="logo" src="assets/images/hututoo-logo.png"></ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>

<div class="inner_contnet">
<div class="cat_section">
      <p class="cat_title_full">Wallets</p>
      <p class="cat_sub_title">This is your wallets overview last updated today.</p>
</div>


<div class="list-items">

<div class="list-item">
<div class="list-item-heading">Today's Earnings</div>
<div class="list-item-value">5090</div>
</div>

<div class="list-item">
<div class="list-item-heading">Current Week</div>
<div class="list-item-value">18,490</div>
</div>

<div class="list-item">
<div class="list-item-heading">Previous Week</div>
<div class="list-item-value">10,490</div>
</div>

</div>

</div>

</ion-content>

<ion-footer>
<ion-row>
        <ion-col no-padding routerLink="/stream">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-col>

        <ion-col no-padding routerLink="/search">
            <ion-icon name="search-outline"></ion-icon>
        </ion-col>

        <ion-col no-padding routerLink="/landing">
            <ion-icon name="home-outline"></ion-icon>
        </ion-col>

        <ion-col no-padding routerLink="/activity">
            <ion-icon name="list-outline"></ion-icon>
        </ion-col>
    </ion-row>



</ion-footer>
