<ion-header [translucent]="false" class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>

<div class="inner_contnet">
<div class="cat_section">
      <p class="cat_title_full">Transactions</p>
      <p class="cat_sub_title">Your account history is available in this page.</p>
</div>

<div class="transactions-list"  *ngFor="let dateitem of allDates">

<div class="cat_section">
      <p class="trnaction_date">{{dateitem.date}}</p>
</div>

<div class="list-items">
    <div class="list-item" *ngFor="let transaction of allTransactions">
      <p class="with_icon" class="{{transaction.type}}">
      <ion-icon class="remove-circle" name="remove-circle-outline"></ion-icon>
      <ion-icon class="add-circle" name="add-circle-outline"></ion-icon>
      <span class="item_title">{{transaction.title}}</span>
      <span class="item_description">{{transaction.description}}</span>
      </p>
      
    </div>
</div>


</div>
<div class="cat_section">
      <p class="trnaction_date"></p>
</div>
</div>

</ion-content>

<ion-footer>
<app-footer-menu></app-footer-menu>




</ion-footer>
