<div class="card-body ">
    <form (ngSubmit)="loginProcess()">
      <label>Email address</label>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Username" >
      </div>
      <label>Password</label>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" >
      </div>
    </form>
  </div>
  <div class="card-footer ">
    <button type="submit" class="btn btn-info btn-round">Submit</button>
  </div>