.event_comments{
float:left;
width:100%;
padding: 0px;
}


.event_comments .comment_item{
float:left;
width:100%;
margin-bottom:15px;
background:#eeeff8;
}
.event_comments .comment_item_start{
padding: 10px 15px;
display: grid;
grid-template-columns: 45px auto;
}

.event_comments .comment_item_start img{
width:85%;
float:left;
margin: 5px 5px 0px 0px;
}


.event_comments .comment_item_start p{
margin:0px;
}
.event_comments span{
float:left;
width:100%;
}
.event_comments span.item_title{
font-size:12px;
font-weight: 600;
}
.event_comments span.item_description{
font-size:12px;
}
.event_comments span.item_time{
font-size:12px;
font-weight: 600;
}
.event_comments span.item_board{
font-size:12px;
font-weight: 600;
}

.divider {
background: #eeeff8;
height: 1px;
overflow: hidden;
width: 90%;
float: left;
margin:5%;
}
.action_section{
padding:0px 15px;
color:#000;
font-size:12px;
float: left;
width: 100%;
background: #e2e2e2;
}
.action_section p.left{
float:left;
color:#000;
}
.action_section p.right{
float:right;
color:#000;
}
.action_section ion-icon{
font-size:14px;
vertical-align: middle;
}
.comment_submit{
background:#F6F6F6;
border:0px;
background: url("/assets/images/post_comment.jpg");
background-size: 35px;
background-repeat: no-repeat;
background-position: right;
width: 35px;
position: absolute;
height: 35px;
right: 15px;
top: 0;
z-index: 9;

}
ion-footer{
padding-left:0px;
padding-right:0px;
}

ion-footer form{
border-bottom: 1px solid #ddd;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 0px;
margin-bottom: 10px;
}
ion-footer ion-row{
padding-left:10px;
padding-right:10px;
}
