<ion-header [translucent]="false" class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>

<div class="inner_contnet">
<div class="cat_section">
      <p class="cat_title_full">Streams</p>
      <p class="cat_sub_title">Your streams history is available in this page.</p>
</div>



<div class="event_comments">

        <div class="comment_item"  *ngFor="let data of allComments" >
         
         <div class="comment_item_start" (click)="showOptions(data)">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <p>
            <span class="item_title">{{data.author}} @{{data.slug}} {{data.time}}</span>
            <span class="item_description">{{data.comment}}</span>
            </p>
         </div>


            <div class="action_section">
              <p class="left"  (click)="addLike(data)">{{data.like}} <ion-icon name="star-outline"></ion-icon></p>
              <p class="right" (click)="showCommentTextBox(data)">{{data.comment_count}} <ion-icon name="chatbox-ellipses-outline"></ion-icon> Comments</p>
            </div>
          </div>


</div>


</div>
</ion-content>

<ion-footer>
<form *ngIf="showCommentBox" #form="ngForm" (ngSubmit)="onSubmitComment(form)" method="post">
<ion-input ngModel type="text" name="comment" class="comment_input" placeholder="Enter comment"></ion-input>
<p class="comment_submit" (click)="onSubmitComment(form)"></p>
</form>

<app-footer-menu></app-footer-menu>




</ion-footer>
