<ion-header [translucent]="false" class="ion-no-border">
 <app-header></app-header>
</ion-header>

<ion-content>

<div class="inner_contnet">
<div class="cat_section">
      <p class="cat_title_full">Activities</p>
      <p class="cat_sub_title">Your activity history is available in this page.</p>
</div>


<div class="list-items">
    <div class="list-item" *ngFor="let data of allActivites" (click)="showDetail(data)">
      <p>
      <span class="item_title">{{data.title}} <a>@{{data.event}}</a> {{data.time}}</span>
      </p>
      <p><span class="item_description">{{data.description}} </span></p>
      
    </div>
</div>

</div>

</ion-content>

<ion-footer>
<app-footer-menu></app-footer-menu>
</ion-footer>
