.menu_top_bar{
background:var(--ion-color-secondary);
text-align:center;
padding: 10% 0 0% 0;
float: left;
width: 100%;
box-shadow:0 0.46875rem 2.1875rem rgb(59 62 102 / 3%), 0 0.9375rem 1.40625rem rgb(59 62 102 / 3%), 0 0.25rem 0.53125rem rgb(59 62 102 / 5%), 0 0.125rem 0.1875rem rgb(59 62 102 / 3%);

}


img.avtarlogo{
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.menu_top_bar .avtarlogo{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2%;
    }
.menu_top_bar p{
color:#fff;
font-size:20px;
padding:0px;
margin:5% 0;
float: left;
width: 100%;

}


.menu_box{
float: left;
width: 100%;
margin-top:20px;
}
ion-menu{
border:0px;
}
ion-menu,
.item-inner{
--border:0px;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {

}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: #000;
}

ion-menu.md ion-item ion-icon {
  color: #000;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  color: #000;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: #000;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #000;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-label{
color:#000;
}

@media screen and (min-width: 600px) {



img.avtarlogo {
    width: 61px;
    height: 61px;
}

img.logo{
    max-width: 250px;
    margin: 15px;
}


.menu_top_bar{
padding:15px;
}
.menu_top_bar p{
margin:0px;
}
.menu_top_bar .avtar{
    font-size: 27px;
        padding: 14px;
}

ion-menu ion-list{
padding: 0px 0;
    margin-top: 35px;
}


}